<!DOCTYPE>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale:1.0">
  <title></title>
<style>
.ctn{
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 3% 30% 3% 30%;
  padding: 3%;
  overflow: auto;
}
</style>
</head>
<body>
<div class="ctn">
  <img src="logo.jpg" id="img" width="40%" height="30%"><br>
   <h1>NAME:AMAN SOMANI </h1>
   <p> <span style="font-weight:bold">Email: &nbsp;</span>admin@gmail.com</p>
    <a href='/disp'><button>Students profile</button></a>
    <a href='/teacherdisplay'><button>Teachers profile</button></a>
  </div>
</body>
</html>
