<!DOCTYPE html>
<html>
<head>
	<title>TC</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
    	
    </style>
</head>
<body align='center'>
<div align="center"><form action="/downloadTC" method="post">
    <label>Enter the first-name of Student :  </label> <input type="text" name="fname"><br><br>
    <label>Enter the last-name of Student :  </label> <input type="text" name="lname"><br><br>
    <button >Generate TC</button>
</form></div>



</body>
</html>